<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get your burger</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <mian>
        <h1>Välkommen till BigBeautifulBurgers</h1>
      </main>
      <section>
        <h3>Våra Burgare</h3>
        <p>Välj din favorit bland alla våra favoriter</p>
        <table>
          <thead>
            <tr>
                <th>Orginal Burgaren</th>
                <th>vegtarisk burgare</th>
                <th>Kryddstark Burgare</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="https://pagen.se/globalassets/kampanjer/garden-party-2018/burgare-med-vitloks--och-chilimajonas.png.png?w=734&h=462&mode=crop&resized=true"width="250" height="200"></td>
              <td><img src="https://assets.icanet.se/q_auto,f_auto/imagevaultfiles/id_161382/cf_259/svamp-och-quinoaburgare-med-picklade-senapsfron-oc.jpg"width="250"height="200"></td>
              <td><img src="https://www.santamariaworld.com//globalassets/_recipes/tex-mex/hamburgare_chili.jpg"width="250"height="200"></td>
            </tr>
            <tr>
              <td>
                <dl>
                  <dt>Allergier</dt>
                  <dd>Laktos, gluten</dd>

                  <dt>Vegetarisk</dt>
                  <dd>Innehåller Kött</dd>
                </dl>
              </td>
              <td>
                <dl>
                  <dt>Allergier</dt>
                  <dd>Laktos</dd>

                  <dt>Vegetarisk</dt>
                  <dd>Jajemensan</dd>
                </dl>
              </td>
              <td>
                <dl>
                  <dt>Allergier</dt>
                  <dd>Gluten</dd>

                  <dt>Vegetarisk</dt>
                  <dd>Innehåller Kött</dd>
                </dl>
              </td>
            </tr>
          </tbody>
        </table>


      </section>
      <section>
        <h3>Din information</h3>
        <p>Fyll i din information, så levererar vi din burgare hem till dig</p>


      </section>
      <footer>
        <p>&copy Fredrik Nilsson</p>
      </footer>
    </body>
</html>
